# Import libraries

In [1]:
## Import libraries for machine learning and data processing
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt

# Read data

In [2]:
## import dataset
raw_feature_df_scaled = pd.read_csv('/Users/adityaponnada/Downloads/time_study_data/processed_features_v100.csv')
## Display the first few rows of the dataset
raw_feature_df_scaled.head(5)

,participant_id,outcome,is_weekend,in_battery_saver_mode,charging_status,screen_on,dist_from_home,is_phone_locked,last_phone_usage,closeness_to_sleep_time,...,wake_day_part_24.0,wake_day_part_25.0,wake_day_part_26.0,wake_day_part_27.0,wake_day_part_28.0,wake_day_part_29.0,wake_day_part_30.0,wake_day_part_31.0,wake_day_part_32.0,wake_day_part_33.0
0,arrivejanitoruniformly@timestudy_com,1,1,NaN,NaN,0,0.000002,0.0,0.0,0.187031,...,0,0,0,0,0,0,0,0,0,0
1,arrivejanitoruniformly@timestudy_com,1,1,0.0,0.0,0,0.000002,0.0,0.0,0.180555,...,0,0,0,0,0,0,0,0,0,0
2,arrivejanitoruniformly@timestudy_com,1,1,NaN,NaN,0,0.000002,0.0,0.0,0.176050,...,0,0,0,0,0,0,0,0,0,0
3,arrivejanitoruniformly@timestudy_com,1,1,NaN,NaN,0,0.000002,0.0,0.0,0.172060,...,0,0,0,0,0,0,0,0,0,0
4,arrivejanitoruniformly@timestudy_com,1,1,NaN,NaN,0,0.000002,0.0,0.0,0.104721,...,0,0,0,0,0,0,0,0,0,0

# Split training and test

In [3]:
def split_train_test_by_users_random(df, id_col='participant_id', n_train_users=10, random_state=None):
    """
    Randomly split a DataFrame into a train set containing all rows for a randomly
    selected set of `n_train_users` participants and a test set containing the
    remaining participants.

    Returns: (train_df, test_df) with indices reset.
    """
    import numpy as np
    import pandas as pd

    if id_col not in df.columns:
        raise ValueError(f"id_col '{id_col}' not found in DataFrame columns")

    unique_ids = pd.Index(df[id_col].dropna().unique())
    n_unique = len(unique_ids)
    if n_unique == 0:
        raise ValueError('No participant ids found in the DataFrame')
    if n_train_users <= 0 or n_train_users >= n_unique:
        raise ValueError(f'n_train_users must be >0 and < number of unique participants ({n_unique})')

    rng = np.random.default_rng(random_state)
    train_ids = rng.choice(unique_ids, size=n_train_users, replace=False)

    train_df = df[df[id_col].isin(train_ids)].reset_index(drop=True)
    test_df = df[~df[id_col].isin(train_ids)].reset_index(drop=True)

    return train_df, test_df

# Example usage:
train_df, test_df = split_train_test_by_users_random(raw_feature_df_scaled, n_train_users=10, random_state=42)

# Missing data imputation

For features like location, we will use median imputation. For other features we will forward the last known data (using Linear Interpolation)

In [7]:
# Print the percentage of missing values for each column in train_df
missing_pct_train = train_df.isnull().mean() * 100
print("% Missing values per column in train_df:")
missing_pct_train.sort_values(ascending=False)

% Missing values per column in train_df:

in_battery_saver_mode     52.497249
charging_status           52.497249
dist_from_home            12.897827
mims_5min                  5.864054
is_phone_locked            1.442592
                            ...
location_category_Work     0.000000
wake_day_part_0.0          0.000000
outcome                    0.000000
wake_day_part_2.0          0.000000
wake_day_part_33.0         0.000000
Length: 62, dtype: float64

In [ ]:
def missing_values_table(train_df, show=True):
    """
    Compute a DataFrame summarizing missing data per column for `train_df` and optionally print it in full.

    Returns a pandas DataFrame with columns: 'missing_count' and 'missing_pct' (0-100), sorted by missing_pct desc.

    Parameters:
    - train_df: pandas DataFrame to analyze
    - show: if True, print the full DataFrame without truncation
    """
    import pandas as pd

    if train_df is None or not hasattr(train_df, 'isnull'):
        raise ValueError('train_df must be a valid pandas DataFrame')

    n_rows = len(train_df)
    missing_count = train_df.isnull().sum()
    missing_pct = (missing_count / n_rows) * 100 if n_rows > 0 else missing_count * 0.0
    df_missing = pd.DataFrame({'missing_count': missing_count, 'missing_pct': missing_pct})
    df_missing = df_missing.sort_values('missing_pct', ascending=False)

    if show:
        # display entire table without truncation
        with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.width', None):
            print(df_missing)

    return df_missing

# Example usage:
# df_missing = missing_values_table(train_df)
# or to get the Series of percentages: df_missing['missing_pct']

% Missing values per column in train_df:
in_battery_saver_mode        52.497249
charging_status              52.497249
dist_from_home               12.897827
mims_5min                     5.864054
is_phone_locked               1.442592
last_phone_usage              1.442592
closeness_to_wake_time        0.008186
closeness_to_sleep_time       0.008186
wake_day_part_11.0            0.000000
wake_day_part_17.0            0.000000
wake_day_part_16.0            0.000000
wake_day_part_15.0            0.000000
wake_day_part_13.0            0.000000
wake_day_part_12.0            0.000000
participant_id                0.000000
wake_day_part_10.0            0.000000
wake_day_part_9.0             0.000000
wake_day_part_19.0            0.000000
wake_day_part_8.0             0.000000
wake_day_part_7.0             0.000000
wake_day_part_18.0            0.000000
wake_day_part_25.0            0.000000
wake_day_part_20.0            0.000000
wake_day_part_22.0            0.000000
wake_day_part_23.0            0.000000
wake_day_part_24.0            0.000000
wake_day_part_5.0             0.000000
wake_day_part_26.0            0.000000
wake_day_part_27.0            0.000000
wake_day_part_28.0            0.000000
wake_day_part_29.0            0.000000
wake_day_part_30.0            0.000000
wake_day_part_31.0            0.000000
wake_day_part_32.0            0.000000
wake_day_part_6.0             0.000000
wake_day_part_1.0             0.000000
wake_day_part_4.0             0.000000
wake_day_part_3.0             0.000000
is_weekend                    0.000000
screen_on                     0.000000
days_in_study                 0.000000
completion_24h                0.000000
completion_1h                 0.000000
time_between_prompts          0.000000
time_since_last_answered      0.000000
completion_since_wake         0.000000
completion_since_start        0.000000
time_of_day_Afternoon         0.000000
time_of_day_Early Morning     0.000000
time_of_day_Evening           0.000000
time_of_day_Late Night        0.000000
time_of_day_Morning           0.000000
time_of_day_Night             0.000000
location_category_Home        0.000000
location_category_Other       0.000000
location_category_School      0.000000
location_category_Transit     0.000000
location_category_Work        0.000000
wake_day_part_0.0             0.000000
outcome                       0.000000
wake_day_part_2.0             0.000000
wake_day_part_33.0            0.000000

## Linear interpolation based impuation

In [11]:
def interpolate_impute(train_df, cols=None, method='linear', limit_direction='both', axis=0, inplace=False, fill_remaining_with='median'):
    """
    Perform linear-interpolation based imputation on `train_df` for the specified columns.

    - train_df: pandas DataFrame
    - cols: list of columns to interpolate. If None, numeric columns will be used.
    - method: interpolation method passed to pandas.DataFrame.interpolate (default 'linear').
    - limit_direction: passed to interpolate (default 'both').
    - axis: axis for interpolation (0 for index, 1 for columns).
    - inplace: if True, modify train_df in place and return it; otherwise return a copy.
    - fill_remaining_with: if 'median', fill remaining NaNs with column median after interpolation;
      if 'ffill', use forward-fill then backward-fill; if None, leave NaNs as-is.

    Returns the imputed DataFrame.
    """
    import pandas as pd
    import numpy as np

    if train_df is None or not hasattr(train_df, 'copy'):
        raise ValueError('train_df must be a valid pandas DataFrame')

    df = train_df if inplace else train_df.copy()

    if cols is None:
        # default: numeric columns only
        cols = df.select_dtypes(include=[np.number]).columns.tolist()
    else:
        # ensure requested cols exist
        cols = [c for c in cols if c in df.columns]

    if not cols:
        # nothing to do
        return df

    # Interpolate numeric columns
    try:
        df[cols] = df[cols].interpolate(method=method, limit_direction=limit_direction, axis=axis)
    except Exception as e:
        print(f'Interpolation failed: {e}; returning original or partially-imputed DataFrame')

    # Optionally fill remaining NaNs
    if fill_remaining_with == 'median':
        for c in cols:
            if df[c].isna().any():
                try:
                    med = df[c].median()
                    df[c].fillna(med, inplace=True)
                except Exception:
                    pass
    elif fill_remaining_with == 'ffill':
        df[cols] = df[cols].ffill().bfill()
    # if None, leave remaining NaNs as-is

    return df

# Example usage:
train_df = interpolate_impute(train_df, cols=None, method='linear', inplace=True)  # numeric cols only
# To operate in-place: interpolate_impute(train_df, inplace=True)

In [12]:
train_df.head(5)

,participant_id,outcome,is_weekend,in_battery_saver_mode,charging_status,screen_on,dist_from_home,is_phone_locked,last_phone_usage,closeness_to_sleep_time,...,wake_day_part_24.0,wake_day_part_25.0,wake_day_part_26.0,wake_day_part_27.0,wake_day_part_28.0,wake_day_part_29.0,wake_day_part_30.0,wake_day_part_31.0,wake_day_part_32.0,wake_day_part_33.0
0,catsupexploitmocker@timestudy_com,0,0,0.0,1.0,0,0.000003,1.0,0.063333,0.923111,...,0,0,0,0,0,0,0,0,0,0
1,catsupexploitmocker@timestudy_com,0,0,0.0,1.0,0,0.000053,1.0,0.366667,0.906962,...,0,0,0,0,0,0,0,0,0,0
2,catsupexploitmocker@timestudy_com,0,0,0.0,1.0,0,0.000005,1.0,0.518333,0.898969,...,0,0,0,0,0,0,0,0,0,0
3,catsupexploitmocker@timestudy_com,0,0,0.0,1.0,1,0.000005,0.0,0.000000,0.891005,...,0,0,0,0,0,0,0,0,0,0
4,catsupexploitmocker@timestudy_com,0,0,0.0,1.0,0,0.000006,1.0,0.016667,0.883027,...,0,0,0,0,0,0,0,0,0,0