## Import libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
heldout_df = pd.read_csv('/Users/adityaponnada/Downloads/time_study_data/processed_features_heldout.csv')
heldout_df.head()

,participant_id,outcome,is_weekend,in_battery_saver_mode,charging_status,screen_on,dist_from_home,is_phone_locked,last_phone_usage,closeness_to_sleep_time,...,mi_time_of_day_Night,mi_location_category_Home,mi_location_category_Other,mi_location_category_School,mi_location_category_Transit,mi_location_category_Work,mi_wake_day_part_0.0,mi_wake_day_part_1.0,mi_wake_day_part_2.0,mi_wake_day_part_3.0
0,animateshowerclothes@timestudy_com,1,0,1.0,0.0,1,0.000586,NaN,NaN,860.983333,...,0,0,0,0,0,0,0,0,0,0
1,animateshowerclothes@timestudy_com,0,0,1.0,1.0,1,0.001221,NaN,NaN,838.000000,...,0,0,0,0,0,0,0,0,0,0
2,animateshowerclothes@timestudy_com,0,0,0.0,1.0,1,0.000794,NaN,NaN,827.983333,...,0,0,0,0,0,0,0,0,0,0
3,animateshowerclothes@timestudy_com,0,0,0.0,1.0,1,0.003441,NaN,NaN,817.983333,...,0,0,0,0,0,0,0,0,0,0
4,animateshowerclothes@timestudy_com,0,0,0.0,1.0,1,0.003723,NaN,NaN,781.983333,...,0,0,0,0,0,0,0,0,0,0

In [4]:
heldout_df['participant_id'].nunique()

36

In [7]:
def compute_heldout_first_fraction_completion(heldout_df, participant_col='participant_id', outcome_col='outcome', fraction=0.1, sort_col=None):
    """Compute the first `fraction` of observations per participant and per-participant completion rates."""
    import pandas as pd
    import numpy as np
    if heldout_df is None or participant_col not in heldout_df.columns:
        raise ValueError('heldout_df must contain the participant column')
    if outcome_col not in heldout_df.columns:
        raise ValueError('outcome_col must be a column in heldout_df')
    if not (0 <= fraction <= 1):
        raise ValueError('fraction must be between 0 and 1')
    parts = []
    rows = []
    for pid, g in heldout_df.groupby(participant_col):
        if sort_col is not None and sort_col in g.columns:
            g = g.sort_values(sort_col)
        else:
            g = g.sort_index()
        n = len(g)
        if n == 0:
            continue
        k = int(np.floor(n * fraction))
        if fraction > 0 and k == 0:
            k = 1
        sel = g.iloc[:k]
        parts.append(sel)
        n_selected = len(sel)
        n_completed = int(sel[outcome_col].eq(1).sum())
        completion_rate = n_completed / n_selected if n_selected > 0 else np.nan
        rows.append({participant_col: pid, 'n_selected': n_selected, 'n_completed': n_completed, 'completion_rate': completion_rate})
    subset_df = pd.concat(parts, ignore_index=True) if parts else pd.DataFrame(columns=heldout_df.columns)
    rates_df = pd.DataFrame(rows, columns=[participant_col, 'n_selected', 'n_completed', 'completion_rate'])
    return subset_df, rates_df

# Example usage:

subset_df, rates_df = compute_heldout_first_fraction_completion(heldout_df, participant_col='participant_id', outcome_col='outcome', fraction=0.1, sort_col=None)# Adjust `outcome_col` if your outcome column has a different name (e.g. 'completed')

In [8]:
rates_df

,participant_id,n_selected,n_completed,completion_rate
0,animateshowerclothes@timestudy_com,979,777,0.793667
1,atlanticchefhatchet@timestudy_com,1323,839,0.634165
2,beavertomatoupscale@timestudy_com,1309,986,0.753247
3,bondingcoasterdirtiness@timestudy_com,1317,987,0.749431
4,childhoodmovingmagnify@timestudy_com,1480,1394,0.941892
5,cohesiveprotractfavored@timestudy_com,1428,1234,0.864146
6,collisionmolarbreeze@timestudy_com,829,767,0.925211
7,congestedculpritsaved@timestudy_com,1154,1126,0.975737
8,congestedtapssneer@timestudy_com,812,766,0.943350
9,crestedserpentspongy@timestudy_com,1192,1030,0.864094
10,dimnesscranialunheard@timestudy_com,1390,1260,0.906475
11,enjoyergoofinessgrudge@timestudy_com,1045,936,0.895694
12,faucetsquealingcatapult@timestudy_com,1155,1060,0.917749
13,feistydaycarelung@timestudy_com,1234,996,0.807131
14,fracturerepurposealgebra@timestudy_com,1069,980,0.916745
15,genderradiantlycharging@timestudy_com,1516,1390,0.916887
16,gentlykittenthaw@timestudy_com,1148,1069,0.931185
17,idealistsustainerexpansive@timestudy_com,964,932,0.966805
18,lardcapablemud@timestudy_com,1347,1088,0.807721
19,larkshiningaffected@timestudy_com,1304,1212,0.929448
20,moisturedecodelyricist@timestudy_com,69,65,0.942029
21,mountainseclusionchaffing@timestudy_com,1224,1065,0.870098
22,panoramahandcraftcomma@timestudy_com,1322,1240,0.937973
23,peddlingventricleexert@timestudy_com,921,844,0.916395
24,persevereriseswoop@timestudy_com,1299,1150,0.885296
25,quizzicalpremiumfrayed@timestudy_com,653,412,0.630934
26,rangerabrasivedislike@timestudy_com,1192,889,0.745805
27,resalepartlyfrigidity@timestudy_com,910,725,0.796703
28,rippingpeprepose@timestudy_com,1278,1174,0.918623
29,sharpnessnextpouch@timestudy_com,1359,1272,0.935982
30,spookysubtotalunreached@timestudy_com,1059,897,0.847025
31,sublevelcurlyhanky@timestudy_com,808,687,0.850248
32,subtitlegrievousbazooka@timestudy_com,1330,1277,0.960150
33,tapestryrivetingverify@timestudy_com,1311,1220,0.930587
34,unraveledlitterpowerably@timestudy_com,1053,855,0.811966
35,whoeverrelightspookily@timestudy_com,836,660,0.789474

In [9]:
rates_df['completion_rate'].describe()

count    36.000000
mean      0.866946
std       0.087291
min       0.630934
25%       0.807573
50%       0.901084
75%       0.930737
max       0.975737
Name: completion_rate, dtype: float64